@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Raleway:wght@100;500;600;800&display=swap');


body {
    background-color: whitesmoke;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

.header {
    height: 25rem;
    background-image: url("../Images/coffee-bgnd.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* border-top: 1px solid transparent; */
    /* padding-top: 1px; */
    /* padding-top: 133px;
    box-sizing: border-box; */

}



h1 {
    font-size: 7rem;
    font-family: 'Covered By Your Grace', cursive;
    color: rgba(3, 150, 100, 0.75);
  /*   text-align: center; */
    padding-top: 8rem;
    /* margin-top: 132px; */
}

/* .main {
    position: relative;
}
 */
/* .left, .right {
    position: absolute;
    top: 0;
    width: 49%;
} */

/* .left {
    left: 0;
}
 */
/* .right {
    right: 0;
} */


.main > div{
    margin: 6rem 0;
    border-bottom: 1 solid #e4bb97;
    padding-bottom: 4.5rem;
}


/* .main div >  */h2 {
   font-weight: 800;
   font-size: 1.7rem;
   background-color: #aa8eb5;
   text-align: center;
   text-transform: uppercase;
}

.main div > p {
    color: #444;
    font-size: 1.25rem;
    text-align: justify;
    text-indent: 2rem;
    line-height: 1.5;
    padding: 0 0.6rem;
}
.btn-danger{
    color: #214e34;
    font-weight: 600;
    padding-left: 0.6rem;
    padding-bottom:0.6rem ;
    text-decoration: none;
    letter-spacing: 0.12rem;  
    background-color: rgba(245, 245, 245, 0.765);
    border: #aa8eb5;

}
/* .main div > a {
    color: #214e34;
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 0.6rem;
    text-decoration: none;
    letter-spacing: 0.12rem;
} */
